*{
    margin: 0;
    padding: 0;
    font-family: Microsoft JhengHei;
}
body {
    background-color: rgb(51,51,51);
    margin: 0px auto;
}
.block {
    box-sizing: border-box;
    background-color: #272222;
    border: 1px solid #474343;
    width:900px;
    margin: 0px auto;
}
.head p {
    font-size: 28px;
    box-sizing: border-box;
    border-bottom: 1px dashed #474343;
    background-color: #272727;
    color:#fff;
    padding: 20px 30px;
}
form {
    box-sizing: border-box;
    
}
.text {
    margin: 30px;
    color: #fff;
}
.text p {
    color:#fff;
    padding-left:5px;
}
.text select {
    box-sizing: border-box;
    font-size: 14px;
    padding:5px;
    margin: 5px;
    width:800px;
    height:40px;
    background-color: #E0E0E0;
}
.text textarea {
    box-sizing: border-box;
    background-color: #E0E0E0;
    width:800px;
    height:250px;
    margin: 0px auto;
}
.text .data {
    box-sizing: border-box;
    background-color: #303030;
    width:800px;
    height:45px;
    border-radius: 5px;
    border:1px solid #303030;
    margin: 15px 5px;
    padding: 10px;
}
.text input {
    padding-left: 30px;
}
.text .textin {
    box-sizing: border-box;
    width:800px;
    color:#b1525a;
    font-size: 14px;
    font-family: Arial,PMingLiU;
}
.text1 {
    margin: 0 0 25px;
    color: #fff;
    margin-bottom: 30px;
    border-top: 1px solid #383838;
    width: 800px;
    margin-left: 35px;
    padding-top: 30px;
    text-align: center;
    font-size: 14px;
    font-family: PMingLiu;
}
.text1 a {
    text-decoration: none;
    font-size: 14px;
    font-family: PMingLiu;
    color: #fb4349;
    margin-left: 5px;
}
.text1 a:hover {
    text-decoration: underline #fff;
    color:#fff;
}
.text #reset {
    box-sizing: border-box;
    background-color: rgb(39,34,34);
    border: 1px solid rgb(251,67,73);
    color:rgb(251,67,73);
    text-align: center;
    font-size: 20px;
    padding: 5px 50px;
    margin-left: 300px;
    margin-bottom: 15px;
}
footer {
    background-color: #1f1f1f;
}
footer p {
    color:#a1a1a1;
    text-align: center;
    font-size: 11px;
    padding: 8px;
    margin-top: 50px;
}