* {
    margin: 0;
    padding: 0;
    font-family: Microsoft JhengHei; 
    box-sizing: border-box;
}
body {
    background-color:#F5F5F5;
}
.block {
    margin: 20px 90px;
}
.header img{ 
    float: left;
    margin-top: 50px;
    width: 380px;
    height: 420px;
}
.header p {
    width: 1000px;
    text-align: justify;
    color:#524e4d;
    font-size: 18px;
    line-height: 28px;
    letter-spacing:1px;
    text-shadow: 0 1px 1px rgba(0,0,0,.13);
}
.text select {
    border-radius: 5px;
    width:300px;
    height: 40px;
    border: 1px solid #e5e3e5;
    color: #524e4d;
    background-color: #F5F5F5;
    padding: 8px;
    font-size: 16px;
    text-shadow: 0 1px 1px rgba(0,0,0,.13);
    cursor: pointer;
    margin-top: 25px ;
}
.text .textin input {
    margin-top: 15px;
    border-radius: 5px;
    width:190px;
    height: 40px;
    border: 1px solid #e5e3e5;
    color: #000;
    background-color: #F5F5F5;
    padding: 10px;
    font-size: 16px;
    text-shadow: 0 1px 1px rgba(0,0,0,.13);
    box-shadow: 0 1px 5px rgba(0,0,0,.2)inset;
}
.text .textin #textarea {
    margin-top: 15px;
    border-radius: 5px;
    width:605px;
    border: 1px solid #e5e3e5;
    color: #000;
    background-color: transparent;
    padding: 10px;
    font-size: 16px;
    text-shadow: 0 1px 1px rgba(0,0,0,.13);
    box-shadow: 0 1px 5px rgba(0,0,0,.2) inset;
}
.footer input {
    position: absolute;
    background-color:rgb(0, 57, 147);
    color: white;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid rgb(0, 57, 147);
    cursor: pointer;
    width:90px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    right:315px;
    margin-top: 20px;
}
.footer #btn2 {
    position: absolute;
    right:205px;
}